[mysqld]
# サーバ全体の文字セットと照合順序の設定
character-set-server = utf8mb4

[client]
# クライアントのデフォルト文字セットを設定
default-character-set = utf8mb4

[mysql]
# mysqlコマンドラインクライアントのデフォルト文字セット
default-character-set = utf8mb4
